
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #383838;
$darkerGray: #383838;
$darkGray: #383838;
$gray: #666;
$lightGray: #eee;
$white: #f9f9f9;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
