
//
// VARIABLES
//

// Colors
//old$blue: #4183C4;
$blue: #47a577;

// Grays
$black: #f9f9f9;
$darkerGray: #f9f9f9;
$darkGray: #f9f9f9;
$gray: #f9f9f9;
$lightGray: #383838;
$white: #161616;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
